body {
    color: #73523f;
    font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    font-size: 13px;
    background: #fff;
}

/*header*/
.header {
    border-top: 4px solid #F0831E;
    float: left;
    width: 100%;
}

.inner {
    max-width: 960px;
    min-width: 960px;
    margin: 0 auto;
    font-size: 12px;
}

.inner h1 {
    font-weight: normal;
    margin: 10px 0;
    padding: 3px 0;
}

.header_logo {
    float: left;
    margin-top: 10px;
    cursor: pointer;
}

.header_info {
    float: right;
    max-width: 270px;
    text-align: right;
}

.header_info p {
    line-height: 1.6;
}

.header_info span {
    color: #F0831E;
}

.header-phone {
    margin: 2px 0;
}

/*!*nav*!*/
.nav {
    width: 100%;
    display: inline-block;
    position: relative;
    float: left;
    background: #FBFBFD;
    border-top: 1px solid #CBC6C2;
    border-bottom: 1px solid #CBC6C2;
    margin-top: 15px;
}

.hover-menu {
    cursor: pointer;
    background: url("../img/bg_menu_sub.jpg");
    color: white;
}

.menu {
    max-width: 960px;
    min-width: 960px;
    margin: 0 auto;
}

.menu ul {
    padding: 0;
    background: url(../img/line_menu.jpg) no-repeat right center;
    width: 100%;
}

.menu > ul > li {
    cursor: pointer;
    float: left;
    width: 137px;
    background: url(../img/line_menu.jpg) no-repeat left center;
    padding: 4px 5px;
    position: relative;
}

.menu > ul > li:last-child {
    background: url(../img/line_menu.jpg) no-repeat right center, url(../img/line_menu.jpg) no-repeat left center;
}

.menu ul li a {
    color: #73523f;
}

.menu ul li p {
    padding: 16px 0;
    font-size: 15px;
    float: left;
    width: 100%;
    text-align: center;
    border-radius: 5px;
}

.menu ul li p:hover {
    cursor: pointer;
    background: url("../img/bg_menu_sub.jpg");
    color: white;
    display: block;
}

/*sub nav*/
.menu ul li:hover ul {
    display: block;
}

.menu ul li ul {
    position: absolute;
    top: 100%;
    left: 1px;
    display: none;
    background: #FEC472;
    z-index: 999;
}

.menu ul li ul li {
    cursor: pointer;
    padding: 4px 5px;
    border-bottom: 1px solid #D19B5D;
}

.menu ul li ul li:last-child {
    border-bottom: none;
}

.menu ul li ul li p {
    padding: 10px 0;
    font-size: 14px;
    float: left;
    width: 100%;
    text-align: center;
    border-radius: 5px;

}

/*banner*/
.banner {
    background: url("../img/bg_banner.jpg");
    width: 100%;
    height: 394px;
    float: left;
    text-align: center;
}

.slide {
    max-width: 960px;
    min-width: 960px;
    margin: 10px auto;
}

.slide ul li img {
    height: 380px;
}

/*content*/
.container {
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: block;
    min-width: 960px;
    max-width: 960px;
    position: relative;
    clear: both;
}

.content {
    float: left;
    width: 100%;
    max-width: 702px;
    height: auto;
    margin-top: 70px;
}

/*title*/
.title {
    background: url(../img/line_title.jpg) no-repeat left bottom;
    width: 100%;
    height: 7px;
    display: inline-block;
    text-align: left;
    padding-bottom: 25px;
    margin: 20px 0 15px 0;
    font-weight: bold;
    font-size: 16px;
}

.title span {
    margin-left: 10px;
}

/*title1*/
.content-1 {
    float: right;
    text-align: left;
    max-width: 417px;
    width: 100%;
    margin-top: -3px;
    margin-bottom: 20px;
}

.content-1 img {
    float: left;
}

.content-1 p {
    width: 100%;
    display: inline-block;
    margin-bottom: 23px;
    line-height: 1.5;
}

/*title2*/
/*box*/
.box {
    width: 218px;
    height: auto;
    display: inline-block;
    text-align: left;
    border: 1px solid #d9d9d9;
    vertical-align: top;
}

.box p {
    margin: 5px 10px 5px 10px;
    height: 115px;
    display: inline-block;
    line-height: 1.5;
}

.box a {
    margin: 0 0 0 10px;
    display: inline-block;
}

.box-1 {
    margin: 0 16px;
}

.img-button-2 {
    float: right;
}

/*hover img*/
.aside-button:hover,
.img-button-1:hover,
.img-button-2:hover {
    opacity: 0.6;
}

/*title 3*/
/*index*/
.index {
    display: inline-block;
    height: auto;
    text-align: left;
    width: 100%;
}

.index dt {
    background: url(../img/bullet_1.jpg) no-repeat left;
    float: left;
    margin-left: 7px;
    padding-left: 15px;
    text-align: left;
}

.index dd {
    margin-bottom: 15px;
    padding-bottom: 15px;
    padding-left: 128px;
    background: url(../img/bg_index_dl.jpg) repeat-x left bottom;
}

/*aside*/
.aside {
    float: right;
    width: 230px;
    margin-top: 70px;
    text-align: center;
}

.bg-border-r-1 {
    width: 220px;
    margin: 20px 0;
    border: 1px solid #e9dfd9;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: #fffcf8;
    padding: 4px;
    display: inline-block
}

.bg-border-r-2 {
    width: 210px;
    border: 1px solid #e9dfd9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
    display: inline-block;
    padding: 10px 0;
}

.bg-border-r-2 ul {
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.bg-border-r-2 ul li {
    font-size: 12px;
    display: inline-block;
    text-align: left;
    background: url(../img/aside_bullet_2.jpg) no-repeat left center;
    width: 178px;
    padding-left: 15px;
    margin: 2px 0 2px 20px;
    line-height: 1.5;
}

.bg-border-r-2 ul li a {
    color: #73523f;
}

.bg-border-r-2 ul li a:hover {
    text-decoration: underline;
}

.aside ul li.li-1 {
    font-size: 14px;
    border-bottom: 1px solid #e9dfd9;
    background: none;
    margin-bottom: 5px;
    margin-left: 0;
    margin-top: 10px;
    padding-left: 0;
}

.li-1 a {
    background: url(../img/aside_bullet_1.jpg) no-repeat left center;
    padding-left: 15px;
}

.bg-border-r-3 {
    border: #e9dfd9 4px solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 100%;
    height: auto;
    text-align: left;
    padding: 15px 15px 10px 15px;
}

.aside-p-1 {
    font-size: 12px;
    display: inline-block;
    width: 100%;
    margin: 10px 0;
    line-height: 1.5;
}

.aside-map {
    width: 189px;
    height: 130px;
    display: inline-block;
    margin: 5px 0;
}

/*footer*/
.footer {
    background: url(../img/footer_bg.jpg) repeat-x left top;
    margin: 50px auto 0 auto;
    width: 100%;
    display: block;
    height: auto;
    float: left;
    z-index: 99;
    position: relative;
    padding-bottom: 30px;
}

.f-l {
    float: left;
    max-width: 350px;
    width: 100%;
    height: auto;
    margin-top: 30px;
    text-align: left;
    font-size: 12px;
    display: inline-block;
}

.f-l p {
    line-height: 1.5;
    width: 100%;
    display: inline-block;
    margin: 8px 0 10px 0;
}

.menu-footer-1 {
    border: 1px solid #e7d3c1;
    float: left;
    height: auto;
    margin: 30px 0 0 40px;
    max-width: 340px;
    padding: 20px 0 20px 30px;
    text-align: left;
    width: 100%;
    line-height: 1.5;
}

.menu-footer-1 ul {
    margin: 0;
    padding: 0;
    max-width: 150px;
    width: 100%;
    vertical-align: top;
}

.l {
    float: left;
}

.r {
    float: right;
}

.menu-footer-1 ul li {
    text-align: left;
    margin: 3px 0;
    width: 100%;
    display: inline-block;
}

.menu-footer-1 ul li a {
    color: #525260;
    background: url(../img/arrow_.png) no-repeat left center;
    padding-left: 20px;
    font-size: 14px;
    display: inline-block;
}

.menu-footer-1 ul li a:hover {
    text-decoration: underline;
}

.menu-footer-2 {
    background: url(../img/footer_bg_r.png) repeat left center;
    float: left;
    height: auto;
    margin: 30px 0 0 20px;
    max-width: 200px;
    padding: 10px 0 7px 20px;
    text-align: left;
    width: 100%;
    font-size: 13px;
    line-height: 1.5;
}

.menu-footer-2 ul li {
    text-align: left;
    margin: 1.5px 0 1.5px 30px;
    width: 100%;
    display: inline-block;
}

.menu-footer-2 ul li a {
    color: #525260;
    background: url(../img/arrow_.png) no-repeat left center;
    padding-left: 20px;
    display: inline-block;

}

.menu-footer-2 ul .menu-1 a {
    background: url(../img/footer_bullet_2.png) no-repeat left 5px;
    font-size: 16px;
    margin-left: -30px;
}

.menu-footer-2 ul li a:hover {
    text-decoration: underline;
}

/*copyright*/
.copyright {
    background: #f88e01;
    text-align: center;
    padding-top: 5px;
    font-weight: bold;
    display: inline-block;
    width: 100%;
    height: 20px;
    color: #ffffff;
    float: left;
    font-size: 11px;
}

/*page top*/
#page-top {
    bottom: 20px;
    font-size: 12px;
    position: fixed;
    right: 20px;
    z-index: 500;
}

#page-top a {
    background: #f0831e;
    border-radius: 5px;
    color: #FFFFFF;
    display: block;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    width: 80px;
}